body {
    /* using bs-fixed-top */
    padding-top: 70px;
}

.jumbotron {
    position: relative;
    background: #FFF url("/assets/original.jpg") center center;
    width: 100%;
    height: 500px;
    background-size: cover;
    overflow: hidden;
}

.jumbotron .h1 {
    color: white;
    font-weight:bolder;
}

.error {
    color:red;
}

.self {
    font-weight: bold;
    color: orange;
}

.chatroom-body {
    min-height: 400px;
    max-height: 400px;
    overflow-y: scroll;
}

.private-msg {
    color: purple;
}

.system-msg {
    color: red;
}

.game-msg {
    color: orange;
}
.greeting-msg {
    color: blue;
}

.gameboard-body {
    min-height: 400px;
    max-height: 400px;
}

.thumbnail {
    width: 100px;
    text-align: center;
    display:inline-block;
}
